*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    text-align: center;
    margin: 2rem 0rem;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: green;
}


.buttons-container{
    display: flex;
    justify-content: center;
    margin-bottom:3rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.button{
    align-items: center;
    padding: 0.6rem 1.2rem;
    background-color: transparent;
    border: none;
    border: 1px solid gray;
    border-radius: 0.4rem;
    font-size: 1rem;
    color: red;
    margin-right: 1rem;

}
.button:hover{
    background-color: green;
    border: none;
    border: 1px solid #ff0000;
    color: #f5f5f5;
    cursor: pointer;
}
.button:active{
    background-color: darkgreen;
    color: #ff0000;
}
.menu-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 2rem 2rem 2rem;
}
.write{
    height: 9rem;
    align-self: center;
    width: 25rem;
}
.write-in{
    margin: 0rem 1rem;
    height: 9rem;
    align-items: center;
}
.write p{
    margin: 0.5rem 0.5rem 0rem 1rem;
    width: 22rem;
    word-wrap: break-word;

}
.write .menu-title{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid red;
    padding: 0rem  1rem 0.5rem 0rem;
    margin: 0rem 1rem;
    font-size: larger;
    color: green;
    
}
.visual img{
    border-radius: 2rem;
    border: 4px solid red;
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}
@media only screen and (max-width: 720px) {
    .row{
        display: flex;
        flex-direction: column;
    }
    .visual{
        text-align: center;
        margin-bottom: 2rem;
    }
    
}
@media only screen and (max-width:500px){
    .buttons-container{
        display: flex;
    }
    .button{
        margin-bottom: 1rem;
        text-align: center;
        flex: 10%;
        margin-left: 1rem;
    }
}


